{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <h4>MyComm Location</h4>

  <div id="map" style="width:100%;height:500px"></div>

  <script>
  function myMap() {

    var mapCanvas = document.getElementById("map");
    var myCenter = new google.maps.LatLng({{lat}},{{lng}});
    var mapOptions = {
      center: myCenter,
      zoom: 8
    };
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var marker = new google.maps.Marker({
      position: myCenter,
      animation: google.maps.Animation.DROP
    });
    marker.setMap(map);
    var infowindow = new google.maps.InfoWindow({
      content: "{{text|linebreaksbr}}"
    });
    infowindow.open(map,marker);
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=myMap"></script>
{% endblock content %}
