{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <h3>Message Stream</h3>

  {% for message in messages %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="panel-title pull-left">
            <p>From: {% if message.deviceImei.deviceId %} {{message.deviceImei.deviceId}} {% else %} {{message.user}} {% endif %}</p>
            <p>To: {{ message.destinationId }}</p>
          </div>
          <div class="panel-title pull-right">
            {% if message.transmit_time %}
              <p>Sent: {{ message.transmit_time }}</p>
              <p>Received: {{ message.receivedTime }}</p>
            {% else %}
              <p>Sent: {{ message.receivedTime }}</p>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </h3>
      </div>

      <div class="panel-body">
        <p>{{ message.message|linebreaksbr }}</p>
      </div>

    </div>

  {% endfor %}

{% endblock content %}
