body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-default {
    background-color: #d9edf7;
    border-color: #E7E7E7;
}

.time {
  font-weight: normal;
  font-size: 15px;
  padding-left: 8px;
}

.panel-body {
  font-size: 18px;
}

.myCommDevice {
    border-color: #C9FFC8;
}

.myCommDevice > .panel-heading {
    background-image: none;
    background-color: #C9FFC8;
    border-color: #C9FFC8;
}

.server {
    border-color: #B6E8E3;
}

.server > .panel-heading {
    background-image: none;
    background-color: #B6E8E3;
    border-color: #B6E8E3;
}
